# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.venv/
venv/
env/
.env

# Jupyter
.ipynb_checkpoints/

# Data science outputs
*.log
.DS_Store

# Local data (keep only documented/public samples in Git)
data/raw/*
data/processed/*
!data/raw/.gitkeep
!data/processed/.gitkeep

# IDEs
.vscode/
.idea/

# Streamlit
.streamlit/secrets.toml
